body{
    background:linear-gradient(-45deg, rgb(164, 54, 54) ,rgb(130, 236, 130) ,rgb(136, 136, 232) ,rgb(208, 174, 199) ,rgb(10, 217, 249) ,rgb(216, 87, 216));
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
center{
    font-size: 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    background: rgba(177, 28, 38, 0.4);
    padding: 60px;
    box-sizing: border-box;
    box-shadow:0 15px 25px rgba(0,0,0,1) ;
    border-radius: 50px;

    text-transform:uppercase;
}